<h2>Add new post</h2>
<p>We will add new post here</p>
<form action="/new" method="POST" role="form">
  <div class="form-group">
    <textarea name="content" class="form-control" placeholder="Type text post here...." rows="12" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
