<h2>Add new post</h2>
<p>We will add new post here</p>
<form>
  <div class="form-group">
    <textarea name="post_text" class="form-control" placeholder="Type post" rows="12" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
